@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
  --color-ocean: #416dea;
  --color-smoke: #e4e4e4;
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
  --borderRadius: 36px;
  --font-face: 'Raleway', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
